* {
    color: black;
    font-family: "Times New Roman", "Arial", sans-serif;
    font-size: 24px;
}

.heading  {
    color: blue;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-size: 24px;

    padding: 10px;
    border: 5px dotted blue;
    margin: 5px;
}

.description {
    display: block;
    box-sizing: border-box;
    width: 750px;
    height: auto;

    padding: 10px;
    border: 5px solid black;
    margin: 15px auto;
}

.center  {
    text-align: center;
    font-size: 64px;
}

.image  {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

#rice   {
    color: green;
    padding: 10px;
    border: 10px solid green;
    margin: 10px;
    font-size: 50px;
}
#steak  {
    color: brown;
    padding: 10px;
    border: 10px solid brown;
    margin: 10px;
    font-size: 50px;
}
#eggs   {
    color: gold;
    padding: 10px;
    border: 10px solid gold;
    margin: 10px;
    font-size: 50px;
}

.ingredients {
    display: block;
    box-sizing: border-box;
    width: 1000px;
    height: auto;

    padding: 10px;
    border: 5px solid brown;
    margin: 15px auto;
}

.ingredients h2 {
    color: brown;
    text-align: center;
}

.ingredients li{
    color: brown;
}

.steps-header{
    color: green;
    text-align: center;
}

.steps li {
    color: green;
}

.steps {
    display: block;
    box-sizing: border-box;
    width: 1000px;
    height: auto;

    padding: 10px;
    border: 5px solid green;
    margin: 15px auto;
}

.main {
    display: flex;
    justify-content: center;
    background-color: white;
    font-weight: bold;
}
